#root {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 50px; /* Adjust the width as needed */
  height: 100%;
  background-color: #f0f0f0; /* Change the background color as desired */
  padding: 5px;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #ccc; /* Change the hover background color as desired */
}

body {
  height: 100%;
  width: 100%;
}
