#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 50px; /* Adjust the width as needed */
  height: 100%;
  background-color: #f5f5f5; /* Change the background color as desired */
  padding: 5px;
  border-right: 1px solid #d8d8d8;
}

.content {
  width: 100%;
}

.inspector-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  > * {
    border: 1px solid black;
  }
  > ul {
    margin: 0;
  }
  > div > img {
    max-width: 2000px;
    max-height: 600px;
  }
}

header {
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #d8d8d8;
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #ccc; /* Change the hover background color as desired */
}

body {
  height: 100%;
  width: 100%;
}
area {
  cursor: pointer;
}
